{% extends 'base.html.twig' %}

{% block title %}Payment
{% endblock %}

{% block body %}

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <h1 class="header center white-text light">{{ campaign.title }}</h1>
                <div class="row center">
                    <h5 class="header col s12 light">- Organisée par :
                        {{ campaign.name }}
                        -</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img alt="Titre de la campagne" src="/assets/images/8.jpg"></div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h4>Participez en quelques secondes</h4>
                </div>
            </div>
            <!-- Form Section -->
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        {{ form_start(form) }}
                        <h5 class="center">Votre identité</h5>
                        <div class="input-field col s12 l6">
                            {{ form_label(form.participant.name, 'Votre nom')}}
                            {{ form_widget(form.participant.name)}}
                        </div>
                        <div class="input-field col s12 l6">
                            {{ form_label(form.participant.email, 'Votre email')}}
                            {{ form_widget(form.participant.email)}}
                        </div>
                        <div class="input-field col s12 l6">
                            {{ form_label(form.amount, 'Votre participation')}}
                            {{ form_widget(form.amount) }}
                        </div>
                        <div class="input-field col s12 l3">
                            <label>
                                {{ form_widget(form.show_participant) }}
                                <span>Afficher votre nom</span>
                            </label>
                        </div>
                        <div class="input-field col s12 l3">
                            <label>
                                {{ form_widget(form.show_amount) }}
                                <span>Afficher le montant</span>
                            </label>
                        </div>


                        <input type="hidden" id="payment_participant_campaign" name="payment[participant][campaign]" value="{{ campaign.id }}">

                        <div class="clearfix"></div>
                        <h5 class="center">Paiement</h5>
                        <div class="form-row">
                            <label for="card-element">
                                Carte bancaire
                            </label>
                            <div
                                id="card-element"><!-- A Stripe Element will be inserted here. -->
                            </div>

                            <!-- Used to display Element errors. -->
                            <div id="card-errors" role="alert"></div>
                        </div>
                        <div class="input-field col s12 l6">
                            <a class="btn btn-large waves-effect waves-light grey col s12" href="{{ path('campaign_show', {id: campaign.id}) }}">Annuler</a>
                        </div>
                        <div class="input-field col s12 l6">
                            <button class="btn btn-large waves-effect waves-light pink lighten-1 col s12" type="submit">
                                Participer
                                <i class="material-icons right">euro_symbol</i>
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        const stripe = Stripe('pk_test_KmhVHUX90CP3CCP5x8D0xzkH00OPyH176V');
        const elements = stripe.elements();

        // 2
        // Custom styling can be passed to options when creating an Element.
        const style = {
            base: { // Add your base input styles here. For example:
                fontSize: '16px',
                color: "#32325d"
            }
        };

        // Create an instance of the card Element.
        const card = elements.create('card', {style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        card.addEventListener('change', ({error}) => {
            const displayError = document.getElementById('card-errors');
            if (error) {
                displayError.textContent = error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // 3
        // Create a token or display an error when the form is submitted.
        const form = document.querySelector('form[name="payment"]');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const {token, error} = await stripe.createToken(card);

            if (error) { // Inform the customer that there was an error.
                const errorElement = document.getElementById('card-errors');
                errorElement.textContent = error.message;
            } else { // Send the token to your server.
                stripeTokenHandler(token);
            }
        });

        // 4
        const stripeTokenHandler = (token) => { // Insert the token ID into the form so it gets submitted to the server
            const form = document.querySelector('form[name="payment"]');
            const hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
        }
    </script>
{% endblock %}
